{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="bg" style="height: 100vh; background-color: rgb(234, 234, 247);">
<div class="container" style="background-color: rgb(72, 167, 245); width: 40%; margin-left: 35%; border-radius: 20px; height: 60vh;">
    <marquee behavior="" direction="right"><h1 style="font-weight: bold;color: red;"> New ACCOUNT </h1></marquee>
            <div class="col-md-8">
                {{wtf.quick_form(registration_form)}}
            </div>
            <div class="col-md-2"></div>
</div>
</div>
{% endblock %}