h1{
    color: rgba(0, 5, 11, 0.889);
    font-weight: bold;
    font-family: sans-serif;
    width: 80%;

}
.row{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: rgb(29, 28, 28);
}

/* cards styling */
.caption{
    background-color: #dee2e6;
}

/* button */
.btn1{
    background-color: red;
    width: 20%;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.btn2{
    background-color : green;
    margin-left: 10%;
    width: 20%;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.btn3{
    background-color: rgb(16, 133, 165);
    margin-left: 10%;
    width: 20%;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.btn4{
    background-color: black;
    margin-left:50%;
    font-size: 20px;
    font-weight: bolder;
}

/* newpitch */
#NewPitch{
    background-color: blue;
    margin-left: 40%;
    padding: 20%;
    padding-left: 2%;
    padding-right: 2%;
}

.pic{
    background-color: rgb(18, 182, 182);
    height: 30vh;
    width: 25%;
    margin: 7%;
    margin-left: 60%;
    border-radius: 10px;
}

.update{
    color: red;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}


.NoPic{
    color: rgb(227, 34, 9);
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 100rem;
    margin-top: -40%;
}

button{
    border-radius: 15px;
    background-color: black;
}

.user{
    color: rgb(1, 16, 35);
    font-weight: bold;
    font-family: sans-serif;
}

.bio{
    font-family: sans-serif;
    color: black;
    
    font-size: 15px;
}

/* comments styling */
.comments{
    background-color: blue;
    width: 50%;
    height: 30vh;
    margin-left: 25%;
}

.com{
    background-color: rgb(221, 217, 217);
    height: 100vh;
}