{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}


{% block content %}
<div class="com">
<div class="row comments">
    <div class="col-md-6" style="margin-left: -12%;">
        <ol style="color: rgb(12, 13, 13); font-size: 20px; margin-left: -80%;font-weight: bold;">
            {% if comments %} {% for category in comments %}
            <li>
                {{category.text}}
            </li>
            {% endfor %} 
            {% endif %}
        </ol>
    </div>
    <div class="col-md-5">
        {{wtf.quick_form(Commentsform)}}
    </div>
</div>
</div>

{% endblock%}
