{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/index.css')}}">
{% endblock %}
{% block content %}
<div class="container-fluid">
<marquee behavior="" direction="right"> <h1> Welcome to Pitch World .... All Pitches </h1></marquee>
</div>
<div id="tech">
<div class="container-fluid">
    <div class="row">
        {% for category in pitches %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                <h1>{{category.title}}</h1>
                <p style="font-size: 15px;">{{category.description}}</p>
                <h4> Category:{{category.category}}</h4>
                <h5> Post by {{category.username}}</h5>
                <p><mark>{{category.date_posted}}</mark></p>
                <!-- <button class="btn1"> Like </button> -->
                <a href="{{url_for('main.like',id = category.id)}}"><button class="btn1"> Likes {{category.upvotes.count()}}</button></a>
                <a href="{{url_for('main.dislike',id = category.id)}}"><button class="btn2"> Dislikes {{category.downvotes.count()}} </button></a>
                <a href="{{url_for('main.new_comments',pitch_id=category.id)}}"> <button class="btn3">Comment</button> </a>
                </div>
            </div>
        </div>
        {%endfor %}
    </div>
</div>
</div>
{% endblock %}