<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"  href="#">Pitches</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                
                <li><a href="/">Home</a></li>
                <li><a href="#inspirational">Inspirational</a></li>
                <li><a href="#funny">Funny</a></li>
                <li><a href="#tech">Tech</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Pitches Category <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#inspirational">Inspirational</a></li>
                        <li><a href="#funny">Funny</a></li>
                        <li><a href="#tech">Tech</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
                <li style="color:white;padding:35px;">{{current_user.username}}</li>
                <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
                {% else %}
                <li><a href="{{url_for('auth.register')}}"><span class="glyphicon glyphicon-user">SignUp</span></a></li>
                <li><a href="{{url_for('auth.login')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {%endif%}
            </ul>
        </div>
    </div>
</nav>